body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #121212;
}
.general-title {
    margin-bottom: 30px;
}
.general-title h1 {
    font-size: 60px;
    line-height: 60px;
    width: 996px;
    letter-spacing: -0.03em;
}
.general-image {
    position: relative;
    display: inline-block;
    height: 500px;
    width: 1150px;
    background-image: url(../resources/image-site.jpg);
    background-repeat: no-repeat;
    margin-bottom: 190px;
}
.general-image-text {
    position: absolute;
    max-width: 430px;
    left: 40px;
    bottom: 40px;
}
.general-image-text p {
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.6px;
    color: #FFFFFF;

}
.title {
    margin-bottom: 30px;
}
.title h2 {
    font-size: 18px;
    line-height: 24.59px;
}
.description {
    font-size: 45px;
    line-height: 61.47px;
    color: #121212;
    width: 1048px;
    letter-spacing: -0.03em;
}
.title-description {
    margin-bottom: 30px;
}
.services-btn {
    color: #FFFFFF;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: -0.03em;
    background-color: #AD1818;
    padding: 20px 40px;
    border-radius: 5px;
    border-style: none;
    opacity: 0px;
    gap: 10px;
}




