body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #121212;
    background-color: rgb(208, 208, 208);
}
.page {
    width: 1400px;
    margin: 0 auto;
    padding: 100px 125px 150px 125px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}
.general-title {
    margin-bottom: 30px;
}
.general-title h1 {
    font-size: 60px;
    line-height: 60px;
    width: 996px;
    letter-spacing: -0.03em;
}
.general-image {
    position: relative;
    display: inline-block;
    height: 500px;
    width: 1150px;
    background-image: url(../resources/image-site.jpg);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.general-image-text {
    position: absolute;
    max-width: 430px;
    left: 40px;
    bottom: 40px;
}
.general-image-text p {
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.6px;
    color: #FFFFFF;

}
.title {
    margin-bottom: 30px;
}
.title h2 {
    font-size: 18px;
    line-height: 24.59px;
}
.description {
    font-size: 45px;
    line-height: 61.47px;
    color: #121212;
    width: 1048px;
    letter-spacing: -0.03em;
}
.title-description {
    margin-bottom: 30px;
}
.services-btn {
    color: #FFFFFF;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: -0.03em;
    background-color: #AD1818;
    padding: 20px 40px;
    border-radius: 5px;
    border-style: none;
    opacity: 0px;
    gap: 10px;
}

.services-btn-block {
    margin-bottom: 150px;
}
.project img{
    max-width: 1150px;
    max-height: 450px;
    margin-bottom: 15px;
}
.project h3{
    font-size: 30px;
    line-height: 50px;
    color: #121212;
    margin-bottom: 15px;
    letter-spacing: -0.03em;
}
.project a{
    letter-spacing: -0.03em;
    color: #AD1818;
    font-size: 20px;
    line-height: 27.32px;
    text-decoration: none;
}
.project-link{
    margin-bottom: 90px;
}
.allprojects-btn{
    width: 100%;
}
.projects-btn{
    font-family: "Manrope", sans-serif;
    display: block;
    text-align: center;
    border: 2px solid #AD1818;
    width: 100%;
    font-size: 30px;
    padding: 56px 0;
    border-radius: 5px;
}
.projects-btn:hover{
    background-color: #AD1818;
    color: #FFFFFF;
}

.section {
    width: 1400px;
    margin: 0 auto;
    padding: 100px 125px 150px 125px;
    background-color: #121212;
    box-sizing: border-box;
}
.services {
    margin: 0 auto;
    background-color: #121212;
}
.title-services h2 {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    margin-bottom: 34px;
}
.service__block img {
    margin-bottom: 15px;
    width: 1150px;
    height: 270px;
}
.service__block h4 {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    font-weight: 400;

}
